@charset "UTF-8";

/*Todas as mídias*/


/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #7f7f7f, #bcbcbc);
    }

    #login {
        width: 80vw;
        height: 285px;
    }

    #login > #img {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #form {
        float: right;
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #7f7f7f, #bcbcbc);
    }

    #login {
        width: 950px;
        height: 300px;
    }

    #login > #img {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #form {
        float: left;
        width: 50%;
    }

    #form {
        font-size: 1.2em;
    }

    #form > h1 {
        font-size: 2em;
    }

    .campo > span {
        color: black;
        /*background-color: black;*/
        font-size: 2em;
        width: 40px;
        padding: 0px;
    }

    .campo > input {
        background-color: whitesmoke;
        font-size: 1em;
        width: calc(100% - 46px);
        /*transform: translateY(-17px);*/
        height: 100%;
        border: 0px;
        border-radius: 8px;
        padding: 5px;
    }
}